// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  width: 700px;
  margin: 0 auto;
}

.letterlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  li {
    padding: 8px;
    margin: 16px;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    background-color: beige;
    border: 2px solid blue;
    border-radius: 5px;
    width: 48px;
    text-align: center;
  }
}
